@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-white m-0 p-0 overflow-hidden;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Base custom modifications for Leaflet inside dark theme */
.leaflet-container {
  font-family: inherit;
}
.leaflet-popup-content-wrapper {
  @apply bg-gray-800 text-white border border-gray-700/50 backdrop-blur-md !rounded-xl shadow-2xl;
}
.leaflet-popup-tip {
  @apply bg-gray-800 border border-gray-700/50 shadow-2xl;
}
.leaflet-popup-close-button {
  @apply !text-gray-400 hover:!text-white;
}
